body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 400px;
    background-color: #ced6eb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Новый стиль для заголовка */
.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

#timer {
    color: #ff0000;
}

#question-progress {
    color: #000;
}

h2 {
    margin-bottom: 30px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #d0d0d0;
}

.hide {
    display: none;
}